.hero_automation_section {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: 
        linear-gradient(to bottom, #0F1413, transparent) top,
        linear-gradient(to right, #0F1413, transparent) left,
        linear-gradient(to left, #0F1413, transparent) right;
    background-repeat: no-repeat;
    background-size: 100% 30%, 30% 100%, 30% 100%;
    z-index: 999;
}

 /* Robotic Arms Container */
 .arms_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Robotic Arms */
.arms_container img {
    position: absolute;
    width: 150px; /* Default size */
    height: auto; /* Maintain aspect ratio */
}

/* Top Arm */
.arms_container .top_arm {
    top: -75px; /* Half of the arm's height to show half */
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

/* Left Arm */
.arms_container .left_arm {
    left: -75px; /* Half of the arm's width to show half */
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

/* Right Arm */
.arms_container .right_arm {
    right: -75px; /* Half of the arm's width to show half */
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}


        /* Hero Content */
        .automation_hero_content {
            position: relative;
            text-align: center;
            z-index: 2; /* Above arms and gradient */
            max-width: 800px;
            padding: 20px;
        }

        .automation_hero_content h1 {
            font-size: 5em;
            text-transform: uppercase;
            margin-bottom: -35px;
            color: #0F1413;

             /* New Gradient Styles */
            background: linear-gradient(90deg, rgba(241, 101, 41, 1) 22%, #f2f2f2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text; /* For non-WebKit browsers */
            color: transparent; /* Fallback for older browsers */
        }

        .under_h1_text_container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            flex-wrap: wrap;
        }

        .under_h1_text_container p {
            font-size: 1em;
            color: #f2f2f2;
            margin: 10px 10px;
        }

        .under_h1_text_container img {
            width: 20px;
            height: 20px;
            margin: 0 10px;
        }

        .automation_hero_content button {
            padding: 10px 35px;
            margin: 10px;
            background-color: #de4c36;
            color: #ffffff;
            border: none;
            cursor: pointer;
            font-size: 1em;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .automation_hero_content button:hover {
            background-color: #333333;
        }

        @media (min-width: 1025px) {
            .arms_container img {
                width: 500px;
            }

            .arms_container .top_arm {
                top: -550px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
                width: 1000px;
            }

            .arms_container .left_arm {
                width: 1000px;
                left: -210px;
                top: 40%;
                transform: translateY(-50%) rotate(-50deg);
            }

            .arms_container .right_arm {
                width: 1000px;
                right: 500px;
                top: 50%;
                transform: translateY(-55%) translateX(80%) rotate(-50deg);
            }

            .automation_hero_content h1 {
                font-size: 5em;
                z-index: 9;
            }
            
            .under_h1_text_container {
                margin-top: 10px;
            }

            .under_h1_text_container p {
                font-size: 1.1em;
            }

            .under_h1_text_container img {
                width: 18px;
                height: 18px;
                margin: 0 8px;
            }

            .automation_hero_content button {
                padding: 12px 25px;
                font-size: 0.95em;
            }
        }

        @media (max-width: 1024px) {
            .arms_container img {
                width: 500px;
            }

            .arms_container .top_arm {
                top: -60px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
            }

            .arms_container .left_arm {
                left: -210px;
                top: 40%;
                transform: translateY(-50%) rotate(-50deg);
            }

            .arms_container .right_arm {
                right: 230px;
                top: 50%;
                transform: translateY(-65%) translateX(80%) rotate(-50deg);
            }

            .automation_hero_content h1 {
                font-size: 5em;
                z-index: 9;
            }
            
            .under_h1_text_container {
                margin-top: 10px;
            }

            .under_h1_text_container p {
                font-size: 1.1em;
            }

            .under_h1_text_container img {
                width: 18px;
                height: 18px;
                margin: 0 8px;
            }

            .automation_hero_content button {
                padding: 12px 25px;
                font-size: 0.95em;
            }
        }

        @media (max-width: 768px) {
            .arms_container img {
                width: 400px;
            }

            .arms_container .top_arm {
                top: -75px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
            }

            .arms_container .left_arm {
                left: -230px;
                top: 40%;
                transform: translateY(-50%) rotate(-50deg);
            }

            .arms_container .right_arm {
                right: 50px;
                top: 50%;
                transform: translateY(-65%) translateX(80%) rotate(-50deg);
            }

            .automation_hero_content h1 {
                font-size: 4em;
            }

            .under_h1_text_container {
                margin-top: 10px;
            }

            .under_h1_text_container p {
                font-size: 1em;
            }

            .under_h1_text_container img {
                width: 15px;
                height: 15px;
                margin: 0 5px;
            }

            .automation_hero_content button {
                padding: 10px 20px;
                font-size: 0.9em;
            }
        }

        @media (max-width: 480px) {
            .arms_container img {
                width: 400px;
            }

            .arms_container .top_arm {
                top: -55px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
            }

            .arms_container .left_arm {
                left: -230px;
                top: 40%;
                transform: translateY(-50%) rotate(-50deg);
            }

            .arms_container .right_arm {
                right: 50px;
                top: 50%;
                transform: translateY(-65%) translateX(80%) rotate(-50deg);
            }

            .automation_hero_content h1 {
                font-size: 3.5em;
            }

            .under_h1_text_container {
                margin-top: 10px;
            }

            .under_h1_text_container p {
                font-size: 0.95em;
            }

            .under_h1_text_container img {
                width: 12px;
                height: 12px;
                margin: 0 4px;
            }

            .automation_hero_content button {
                padding: 8px 16px;
                font-size: 0.85em;
            }
        }

#automation_examples_section h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #f2f2f2;
    text-align: center;
    font-size: 2.5rem;
}

#automation_examples_section h2 > span {
    color: #de4c36;
    font-weight: bold;
    text-transform: uppercase;
}

.automation_examples_tease_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow_animate {
    color: white;
    margin-top: 30px;
    display: inline-block;
    animation: upDown 2s infinite ease-in-out;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move up by 10px */
    }
    100% {
        transform: translateY(0); /* Return to original position */
    }
}